<div class="resultData">
  <div class="form-group row">
    <label class="col-sm-6 col-form-label">Фамилия</label>
    <div class="col-sm-6">
      <input type="text" readonly="" class="form-control-plaintext" value="{{ prop['lastName'] }}">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-6 col-form-label">Имя</label>
    <div class="col-sm-6">
      <input type="text" readonly="" class="form-control-plaintext" value="{{ prop['firstName'] }}">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-6 col-form-label">Отчество</label>
    <div class="col-sm-6">
      <input type="text" readonly="" class="form-control-plaintext" value="{{ prop['middleName'] }}">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-6 col-form-label">Пол</label>
    <div class="col-sm-6">
      <input type="text" readonly="" class="form-control-plaintext" value="{{ prop['sex'] }}">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-6 col-form-label">Возраст</label>
    <div class="col-sm-6">
      <input type="text" readonly="" class="form-control-plaintext" value="{{ prop['years'] }}">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-6 col-form-label">Вес, кг</label>
    <div class="col-sm-6">
      <input type="text" readonly="" class="form-control-plaintext" value="{{ prop['weight'] }}">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-6 col-form-label">Рост, см</label>
    <div class="col-sm-6">
      <input type="text" readonly="" class="form-control-plaintext" value="{{ prop['height'] }}">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-6 col-form-label">Регистрационный номер</label>
    <div class="col-sm-6">
      <input type="text" readonly="" class="form-control-plaintext" value="{{ prop['id'] }}">
    </div>
  </div>
</div>